# **Module 5 Task 1**
#### Author: Wade Bryson
#### GitHub: https://github.com/WadeBryson

## **Chapter 9 - Files and Exceptions**

#### 9.3.1 Writing to a Text File: Introducing the with statement

In [50]:
# Creating Text File
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

#### 9.3.2 Reading Data from a Text File

In [51]:
# Reading Data from our Text File
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

#### 9.4 Updating Text Files

In [52]:
# Updating Account 300's name from White to Williams
accounts = open('accounts.txt', 'r')

temp_file = open('temp_file.txt', 'w')

with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ''.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

#### 9.5 Serialization with JSON

In [53]:
# Creating Accounts Dictionary
accounts_dict = {'accounts': [{'account': 100, 'name': 'Jones', 'balance':24.98}, {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

# Importing JSON
import json

# Serializing the dictionary to JSON
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

# Deserializing the JSON Text
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

# Showing the Acccounts
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

#### 9.8.1 Division by Zero and Invalid Input & 9.8.2 Try Statements

In [54]:
# Creating a program that divides integers but does not break when trying to divide by 0
while True: 
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: 
        print('You must enter two integers\n')
    except ZeroDivisionError:
        print('Attempted to divide by zero\n')
    else:
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break

45.000 / 5.000 = 9.000

#### 9.9 Finally Clause

In [55]:
# Try Suite that works
try:
    print('My name is Wade Bryson')
except:
    print('You messed up this time!')
else:
    print('Congratulations you did it correct!')
finally:
    print('The End')

# Try Suite that does not work
try:
    print('My name is Wade Bryson')
    int('Hello')
    print('I am trying to mess this up on purpose')
except:
    print('You messed up this time!')
else:
    print('Congratulations you did it correct!')
finally:
    print('The End')

My name is Wade Bryson
Congratulations you did it correct!
The End
My name is Wade Bryson
You messed up this time!
The End

#### 9.12.1 Python Standard Library Module

In [56]:
# importing CSV
import csv

# Writing to a CSV
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

# Reading from a CSV
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

#### 9.12.2 Reading CSV Files into Pandas DataFrames

In [57]:
import pandas as pd

df = pd.read_csv('accounts.csv', names=['Account', 'Name', 'Balance'])

df

   Account   Name  Balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

#### 9.12.3, 9.12.4, & 9.12.5 All occur in Task 3

# Task 2 - Chapter 17